#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R      &kp T                          &kp Y  &kp U     &kp I      &kp O    &kp P     &kp BACKSPACE
&kp TAB    &kp A  &kp S  &kp D  &kp F      &kp G                          &kp H  &kp J     &kp K      &kp L    &kp SEMI  &kp LGUI
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V      &kp B  &kp LBKT     &kp RBKT   &kp N  &kp M     &kp COMMA  &kp DOT  &kp SQT   &kp RSHFT
                                &kp LCTRL  &kp LALT  &kp SPACE    &kp ENTER  &kp RALT  &kp RCTRL
            >;
        };
    };
};