#include "keys_ru.h"
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/matrix_transform.h>
#include <scroll-snap.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "input/processors/sensor_rotation.dtsi"


/ {
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <3>;
        map = <
        RC(0,3) RC(0,2)
        RC(0,0) RC(0,1)
        RC(0,5) RC(0,4)
        >;
    };


    combos {
        compatible = "zmk,combos";
        base_combo {
            bindings = <&mkp MB3>;
            key-positions = <0 1>;
        };
    };


    behaviors {
        // Правая верхняя: tap=MB2, hold=scroll(layer 1)
        lt_mb2: lt_mb2 {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_MB2";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&mkp>;
        };


        // Правая верхняя: 1 tap=MB2 / hold=scroll / быстрый 2й tap=MEH
        td_left_top: td_left_top {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LEFT_TOP";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt_mb2 1 MB2>, <&kp LS(LA(LCTRL))>;
        };


        // Правая средняя: tap=MB3, hold=CTRL
        ctrl_mb3: ctrl_mb3 {
            compatible = "zmk,behavior-hold-tap";
            label = "CTRL_MB3";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&mkp>;
        };


        // Правая средняя: tap+hold=MEH, double tap=ничего
        meh_none: meh_none {
            compatible = "zmk,behavior-hold-tap";
            label = "MEH_NONE";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&none>;
        };


        // Правая средняя итого: tap=MB3, hold=CTRL, tap+hold=MEH, double tap=ничего
        td_right_mid: td_right_mid {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_RIGHT_MID";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings =
                <&ctrl_mb3 LCTRL MB3>,
                <&meh_none LS(LA(LCTRL)) 0>;
        };


        // Левая средняя: tap=переключить text_mode(layer 3), hold=text_mode пока зажата
        dpi_text: dpi_text {
            compatible = "zmk,behavior-hold-tap";
            label = "DPI_TEXT";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };


        adj1: adj1 {
            compatible = "zmk,behavior-tap-dance";
            label = "ADJ1";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&bt BT_CLR>;
        };


        adj2: adj2 {
            compatible = "zmk,behavior-tap-dance";
            label = "ADJ2";
            #binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_CLR_ALL>;
        };
    };


    keymap {
        compatible = "zmk,keymap";


        base {
            bindings = <
&mkp MB1       &td_left_top
&dpi_text 3 3  &td_right_mid
&adj1          &adj2
            >;
            display-name = "Base";
        };


        scroll {
            bindings = <
&trans  &trans
&trans  &trans
&trans  &trans
            >;
            display-name = "Scroll";
        };


        sniper {
            bindings = <
&trans  &trans
&trans  &trans
&trans  &trans
            >;
            display-name = "Sniper";
        };


        text_mode {
            bindings = <
&trans  &trans
&trans  &trans
&trans  &trans
            >;
            display-name = "Text";
        };
    };


    input_processors {
        sensor_rotation: sensor_rotation {
            compatible = "zmk,input-processor-sensor-rotation";
            status = "okay";
            #input-processor-cells = <0>;
            rotation-angle = <5>;
        };
    };
};


&trackball { cpi = <300>; };


&trackball_listener {
    input-processors = <&sensor_rotation>;


    scroller {
        layers = <1>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            <&zip_xy_scaler 1 16>,
            <&zip_xy_to_scroll_mapper &zip_scroll_snap>;
    };


    sniper {
        layers = <2>;
        input-processors = <&zip_xy_scaler 1 4>;
    };


    text_mode {
        layers = <3>;
        input-processors = <&zip_xy_scaler 1 4>;
    };
};